page-header {

 #badge-icon {
    position: relative;
    font-weight: bold;
    font-size: 1.7em;
    margin-left: 15px;
    color: #154492;
}



  #badge {
    position: absolute;
    font-weight: bold;
    border-radius: 50%;
    top: -8px;
    left: 17px;
    /* padding-top: 3px; */
    font-size: 10px;
    border: 0px solid;
    color: #ffffff;
    background-color: #ff0303;
    font-family: 'Roboto', sans-serif;
  }

.bar-button-default-md, .bar-button-clear-md-default, .bar-button-md-default{

color:#ffffff!important;



}
ion-badge {
  padding: 3px 5px;
  text-align: center;
  display: inline-block;
  min-width: 10px;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
}


  
  .toolbar-background-md {
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #009CF2, #007DF2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #009CF2, #007DF2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
  border-bottom: 0px solid #c8c7cc!important;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default {
  color: #ffffff !important;
  background-color: transparent;
}

.bar-button-clear-ios, .bar-button-default.bar-button-ios-clear, .bar-button-clear-ios-clear {
  color: #ffffff;
  background-color: transparent;
}
.toolbar-title-md{

text-align: center;


}



  /*ion-icon {
    &[class*="stats-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks

        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="stats-lock"] {
        mask-image: url(../assets/img/icons-47.png);
    }

    &[class*="stats-user"] {
        mask-image: url(../assets/img/icons-49.png);
    }

  }*/

}
