<ion-header>
    <page-header></page-header>
  </ion-header>
  
  <ion-content padding>
   


      <ion-row *ngIf="showUserDetails" style="background-color: rgb(8, 129, 255);">
        <ion-col col-6>
           <strong>SSOID: {{this.userInfo.sso_id}}</strong>
        </ion-col>
        <ion-col col-6>
           <strong>UserName: {{this.userInfo.name}}</strong>
        </ion-col>
      </ion-row>
      <ion-row >
        <ion-col col-12 class="image_head ">
           
            <ion-img width="100%" height="100%" alt="{{imagePath}}" src="{{imagePath}}"></ion-img>
        </ion-col>
      </ion-row>
      <ion-card class="bkgrnd_trnsprnt">
        <ion-card-content>
          <ion-row>
            <ion-col *ngFor="let item of menu_items" (click)="itemClick(item)" col-6>
              <ion-item class="bkgrnd_trnsprnt">
                <ion-avatar><img src={{item.img}}></ion-avatar>
                {{item.title}}
              </ion-item>
            </ion-col>




          </ion-row>

        </ion-card-content>
      </ion-card>
    </ion-content>
